@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro&family=Poppins:wght@200;300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
    html{
        font-family: 'Poppins', sans-serif;
    }
    .container{
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    }
    @media (min-width: 768px) {
        .container{
        width: 750px;
        }
    }
    @media (min-width: 992px) {
        .container{
        width: 970px;
        }
    }
    @media (min-width: 1200px) {
        .container{
        width: 1170px;
        }
    }
}